body {
  background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  margin: 75px auto;
  padding: 20px;
  max-width: 600px;
}

.main-city {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  color: rgb(255, 255, 255);
  display: inline;
  font-size: 35.44px;
}
h2 {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  font-size: 15px;
}
.country-des {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  font-size: 35.44px;
  color: rgb(255, 255, 255);
}
.weather-description {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  position: relative;
  top: -30px;
  color: rgb(255, 255, 255);
}

.weather-description:first-letter {
  text-transform: capitalize;
}
li {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.temperature {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.CF {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  position: relative;
  top: -10px;
  left: 10px;
  color: rgb(255, 255, 255);
}

.CF .active {
  color: rgb(255, 255, 255);
  cursor: default;
  text-decoration: none;
}
.signature {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  position: relative;
  top: -45px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.weather-forecast {
  text-align: center;
  color: white;
  margin-top: 20px;
}
.weather-forecast-day {
  opacity: 0.6;
}
.weather-min {
  opacity: 0.6;
}
