body {
  background-image: url(https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 41%,
    rgba(4, 100, 168, 1) 83%
  );
  border: rgb(0, 0, 0) solid 1.5px;
  border-radius: 20px;
  display: block;
  margin: 75px auto;
  padding: 20px;
  max-width: 600px;
}

.main-city {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  color: rgb(255, 255, 255);
  display: inline;
  font-size: 35.44px;
}
h2 {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  font-size: 15px;
}
.country-des {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  font-size: 35.44px;
  color: rgb(255, 255, 255);
}
.weather-description {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  position: relative;
  top: -30px;
  color: rgb(255, 255, 255);
}

.weather-description:first-letter {
  text-transform: capitalize;
}
li {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.temperature {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.CF {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  position: relative;
  top: -10px;
  left: 10px;
  color: rgb(255, 255, 255);
}
.signature {
  font-family: "Abril Fatface", cursive;
  font-family: "Kanit", sans-serif;
  position: relative;
  top: -45px;
  font-family: monospace;
  text-align: center;
  color: rgb(246, 5, 138);
  background-color: black;
}
.celcius-link {
  color: rgb(255, 255, 255);
}
